body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


.material-symbols-outlined 
{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.search-bar
{
    border:solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 100px auto;

}

.search-bar:focus-within /*esto es para 
dejar el cursor y realizar cambio de 
color en el entorno  */
{
    border: solid 1px rgb(19, 33, 110);
    box-shadow: 0px 2px  5px rgba(224, 54, 24, 0.1);

}

.search-bar input
{
    border: none;
    outline: none; /*esto es para dejar el cursos parpadeando*/

    padding: 10px;
    font-size: 18px;
    /* width: 100vh; */
    font-size: 18px;
    flex: 1; /*expandir elementos*/
}

.search-bar .actions
{
    display: flex;
    gap: 5px; /*esto abre espacios para flex*/
}

.search-bar .actions button
{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
}

.search-bar .actions button:hover
{
    color: aqua;
}